extends main

block content
  div.container
    h1 Welcome to #[span(style="font-variant: small-caps") Distinct]'s Vulnerable Service Provider
    p You can use this Service Provider to test #[span(style="font-variant: small-caps") Distinct]
