div.navbar.navbar-expand-lg.navbar-light.bg-light.mb-4
  div.container-fluid
    a.navbar-brand(href='#')
      img(src='/img/logo-large.png', height='50')
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarCollapse')
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarCollapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          div.nav-link Test1
        li.nav-item
          div.nav-link Test2
