name: deploy website
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  deploy:
    name: deploy website
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - run: cd ./src && docker-compose -f docker-compose-demo.yml down
      - run: cd ./src && docker-compose -f docker-compose-demo.yml build
      - run: cd ./src && docker-compose -f docker-compose-demo.yml up -d
